- var productsTitle = 'Техника'

- var productsClass = 'products'
- var priceClass = 'price'
- var arrowClass = 'arrow'
- var headingClass = 'heading'
- var vivsibleClass = 'visible'

section(class=productsClass)
    div(class=containerClass)
        p(class=descriptionClass)= productsTitle
        div(class=blockClass, class=jsBlock)
            a(href='#table-1' class=cardClass, class=jsCard)
                div(class=imageClass)
                    |
                    |
                    img(class=imgClass, src='images/fridge.png', alt="fridge")
                div(class=boxClass)
                    p(class=titleClass) Холодильник
                    p(class=subtitleClass) от 950 ₽
            a(href='#table-2' class=cardClass, class=jsCard)
                div(class=imageClass)
                    |
                    |
                    img(class=imgClass, src='images/cooking-panel.png', alt="cooking-panel")
                div(class=boxClass)
                    p(class=titleClass) Варочная панель
                    p(class=subtitleClass) от 800 ₽
            a(href='#table-3' class=cardClass, class=jsCard)
                div(class=imageClass)
                    |
                    |
                    img(class=imgClass, src='images/fridge.png', alt="fridge")
                div(class=boxClass)
                    p(class=titleClass) Холодильник
                    p(class=subtitleClass) от 950 ₽
            a(href='#table-4' class=cardClass, class=jsCard)
                div(class=imageClass)
                    |
                    |
                    img(class=imgClass, src='images/cooking-panel.png', alt="cooking-panel")
                div(class=boxClass)
                    p(class=titleClass) Варочная панель
                    p(class=subtitleClass) от 800 ₽
        div(class=priceClass, class=jsPice, id='table-1')
            div(class=headingClass)
                div(class=arrowClass, class=jsPriceClose)
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                    </svg>
                h2 Прайслист на ремонт холодильников
            table
                thead
                    tr
                        th Поломка
                        th Стоимость
                        th 
                tbody 
                    tr 
                        td Диагностика
                        td от 0 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Заправка фреоном
                        td от 1950 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Диагностика
                        td от 0 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Заправка фреоном
                        td от 1950 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Диагностика
                        td от 0 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Заправка фреоном
                        td от 1950 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Диагностика
                        td от 0 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Заправка фреоном
                        td от 1950 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
        div(class=priceClass, class=jsPice, id='table-2')
            div(class=headingClass)
                div(class=arrowClass, class=jsPriceClose)
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 14 14">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                    </svg>
                h2 Прайслист на ремонт холодильников
            table
                thead
                    tr
                        th Поломка
                        th Стоимость
                        th 
                tbody 
                    tr 
                        td Диагностика
                        td от 0 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Заправка фреоном
                        td от 1950 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Диагностика
                        td от 0 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Заправка фреоном
                        td от 1950 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Диагностика
                        td от 0 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Заправка фреоном
                        td от 1950 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Диагностика
                        td от 0 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Заправка фреоном
                        td от 1950 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
        div(class=priceClass, class=jsPice, id='table-3')
            div(class=headingClass)
                div(class=arrowClass, class=jsPriceClose)
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 14 14">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                    </svg>
                h2 Прайслист на ремонт холодильников
            table
                thead
                    tr
                        th Поломка
                        th Стоимость
                        th 
                tbody 
                    tr 
                        td Диагностика
                        td от 0 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Заправка фреоном
                        td от 1950 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Диагностика
                        td от 0 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Заправка фреоном
                        td от 1950 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Диагностика
                        td от 0 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Заправка фреоном
                        td от 1950 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Диагностика
                        td от 0 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Заправка фреоном
                        td от 1950 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
        div(class=priceClass, class=jsPice, id='table-4')
            div(class=headingClass)
                div(class=arrowClass, class=jsPriceClose)
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 14 14">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                    </svg>
                h2 Прайслист на ремонт холодильников
            table
                thead
                    tr
                        th Поломка
                        th Стоимость
                        th 
                tbody 
                    tr 
                        td Диагностика
                        td от 0 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Заправка фреоном
                        td от 1950 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Диагностика
                        td от 0 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Заправка фреоном
                        td от 1950 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Диагностика
                        td от 0 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Заправка фреоном
                        td от 1950 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Диагностика
                        td от 0 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку
                    tr 
                        td Заправка фреоном
                        td от 1950 ₽
                        td 
                            a(href="#popup-2" class=buttonClass, class=colorClass, class=tinyClass, class=vivsibleClass, class=jsPopupOpen) Оставить заявку